{% include header.html %}

<script type="text/javascript">

 function initialize() {
     var myLatlng = new google.maps.LatLng(50.1049306, 14.38998);
     var markerLatlng = new google.maps.LatLng(50.1049306, 14.38998);
     /*var markerLatlng = new google.maps.LatLng(50.1392978, 14.0954);*/

     var mapOptions = {
		 scrollwheel: false,
         zoom: 17,
         center: markerLatlng
     };

     var map = new google.maps.Map(document.getElementById('map-canvas'),
                                   mapOptions);

     var marker = new google.maps.Marker({
         position: markerLatlng,
         map: map,
         /*label: 'PRL-PRG',*/
         /*animation: google.maps.Animation.DROP,*/
         title: 'PRL-PRG'
     });
 }

 function loadScript() {
     var script = document.createElement('script');
     script.type = 'text/javascript';
     script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
                  'callback=initialize&key=AIzaSyC9HM4VTq6fmNiS6VdBhXLpt8zJZ7AWZus&language=en&region=EN';
     document.body.appendChild(script);
 }

 window.onload = loadScript;

 $(document).keyup(function(e) {
     if (e.keyCode == 27) { // escape key maps to keycode `27`
         $('#myModal').modal('hide');
     }
 });
</script>

<!-- Content-->
<div class="container-fluid main-container" id="people">
    <div class="row block-content text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="big-header">Contact</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row block-content bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>For general inquiries email: <a href="mailto:j.vitek@neu.edu">j.vitek@neu.edu</a></p>

                    <p><strong>Location:</strong></p>

                    <p>
                        Faculty of Information Technology<br />
                        Czech Technical University in Prague<br />
                        Thákurova 9, 160 00 Prague 6<br />
                        Czech Republic
                    </p>

                    <p>
                        Our office is located at A-1254.<br />
                        On the 12th floor in the building of Fakulta Stavební.
                    </p>

                </div>
                <div class="col-md-6">
                    <div class="map-holder">
                        <div class="google-map-canvas" id="map-canvas" style="height: 250px;">
                        </div>
                    </div> <!-- /.map-holder -->
                </div>
                <div class="col-md-12">
                    <p><strong>Directions:</strong></p>
                    <p>The nearest public transport is the Metro station Dejvická, located on the A (green) subway line.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
