{% include header.html %}

<!--Header-->
<header class="container-fluid header-padding"></header>
<!-- Content-->
<div class="container-fluid main-container" id="philosophy">
    <div class="row block-content text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="big-header">Student Projects</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row block-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 font-17">
                    The projects listed below are dedicated towards masters (MS) and bachelor (BS) students. Please <a href="contant.html">contact</a> us if you are interested in any of these projects.
                </div>
            </div>
        </div>
    </div>
    <div class="row block-content bg-1">
        <div class="container">
            {% for p in page.projects %}
            <div class="row">
                <div class="col-md-12 font-17">
                    <h2>{{ p.name }}</h2>
                    <p>{{ p.description }}</p>
                    <strong>Interestes:</strong> {{ p.interests }}<br/>
                    <strong>Links:</strong>
                    <ul>
                        {% for link in p.links %}
                        <li><a href="{{ link }}">{{ link }}</a></li>
                        {% endfor %}
                    </ul>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include footer.html %}
